@import url('https://fonts.googleapis.com/css?family=Roboto');
body, html{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: calc(1em + 1vw)
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.bgimg {
    background-image: url('pawel-czerwinski-1311901-unsplash.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message h1{
    font-size: 3em;
    font-weight: 800;
    color: #FFF;
}